extends layout
block content
  main#content-bg
    dialog#modal-container
      span#inner-modal-container
        label(id="name" for="name-input") What should we call you? 
        input(type="text" id="name-input" name="name-input")
      div#modal-btn
        button(type="button" id="confirm-btn") Confirm
    span#current-color
    section(id="pixel-board-container" 
      style={'grid-template-rows':`repeat(${rowAndCols.rows} ,minmax(20px,auto))`,
              'grid-template-columns':`repeat(${rowAndCols.cols},minmax(20px,20px))`
              })
      each cell,index in gridData.grid
        span(class=cell.className id=cell.id, data-color=cell.color)
    div#color-picker
      ul#color-list
        li#color-swatch.item
          input(type="color" id="color-input" name="color-input")
        li.item
        li.item
        li.item
        li.item
        li.item
        li.item
        li.item
        li.item
        li.item
        li.item
    div#chat-box
      div#user-messages
        p.message 
          span.user-name John:
          | hello
        p.message 
          span.user-name jenny:
          | hi
        p.message 
          span.user-name alfred:
          | lol
        p.message 
          span.user-name jonathan:
          | How did we ever do this programming thing before the InterTubes??? I know we did it, but honestly it seems like a distant, muddy memory.
        p.message 
          span.user-name ronald:
          | Fifth get involved. Go to User Groups, Nerd Dinners, meet with others who feel the same way you do about technology. Stretch.
        p.message 
          span.user-name sigfried:
          | This hits close to home. I have wondered the same thing. Thanks for the tips on staying sharp.
        p.message 
          span.user-name me:
          | What do you think?
        p.message 
          span.user-name John:
          | hello
        p.message 
          span.user-name jenny:
          | hi
        p.message 
          span.user-name alfred:
          | lol
        p.message 
          span.user-name jonathan:
          | How did we ever do this programming thing before the InterTubes??? I know we did it, but honestly it seems like a distant, muddy memory.
        p.message 
          span.user-name ronald:
          | Fifth get involved. Go to User Groups, Nerd Dinners, meet with others who feel the same way you do about technology. Stretch.
        p.message 
          span.user-name sigfried:
          | This hits close to home. I have wondered the same thing. Thanks for the tips on staying sharp.wdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        p.message 
          span.user-name me:
          | What do you think?
        p.message 
         span.user-name John:
         | hello
      form#chat-input-container
        input(type="text" id="user-chat-input" placeholder="SEND MESSAGE TO CHAT") 
        button(type="button" id="user-chat-btn" autocomplete="off")
